<h6>Портфолио отдельная страница</h6>
<h2 class="tui-text_h2">{{portfolio.title}}</h2>
<div class="flex-container">
  <tui-island>
    <div class="feauters">
      <div>
        <h3 class="tui-island__category">Начальный капитал</h3>
        <tui-money [value]="portfolio.initBalance" [currency]="portfolio.currency"></tui-money>
      </div>
      <div>
        <h3 class="tui-island__category">Свободный капитал</h3>
        <tui-money [value]="portfolio.balance" [currency]="portfolio.currency"></tui-money>
      </div>
      <div>
        <h3 class="tui-island__category">Объем портфеля</h3>
        <tui-money [value]="portfolio.realBalance || portfolio.balance" [currency]="portfolio.currency"></tui-money>
      </div>
      <div>
        <h3 class="tui-island__category">Абсолютный доход</h3>
        <tui-money [colored]="true" [value]="portfolio.income?.absolute || 0" [currency]="portfolio.currency"></tui-money>
      </div>
    </div>
  </tui-island>
  <tui-island>
    <h3 class="tui-island__title">Объем портфеля</h3>
    <h4 class="tui-island__paragraph">За последние 30 дней</h4>
    <app-chart-drawer [data]="portfolio.history.onMonth"></app-chart-drawer>
    <h4 class="tui-island__paragraph">За все время</h4>
    <app-chart-drawer [range]="'all'" [data]="portfolio.history.onAllTime"></app-chart-drawer>
  </tui-island>
  <app-portfolio-quotes [quotes]="portfolio.quotes"></app-portfolio-quotes>
</div>