<tui-island [hoverable]="true" (click)="toPortfolio()">
  <h2 class="tui-island__title">{{portfolio.title}}</h2>
  <div class="feauters">
    <div>
      <h4 class="tui-island__category">
        Начальный капитал
      </h4>
      <tui-money [currency]="portfolio.currency" [value]="portfolio.initBalance"></tui-money>
    </div>
    <div>
      <h4 class="tui-island__category">
        Свободный капитал
      </h4>
      <tui-money [currency]="portfolio.currency" [value]="portfolio.balance"></tui-money>
    </div>
    <div>
      <h4 class="tui-island__category">
        Доходность за 30 дней
      </h4>
      <app-percent [value]="portfolio.income?.percent?.onMonth || 0"></app-percent>
    </div>
    <div>
      <h4 class="tui-island__category">
        Доходность за все время
      </h4>
      <app-percent [value]="portfolio.income?.percent?.onAlltime || 0"></app-percent>
    </div>
    <div>
      <h4 class="tui-island__category">
        Объем портфеля
      </h4>
      <tui-money [currency]="portfolio.currency" [value]="portfolio.realBalance || portfolio.balance"></tui-money>
    </div>
    <div>
      <h4 class="tui-island__category">
        Абсолютный доход
      </h4>
      <tui-money [colored]="true" [currency]="portfolio.currency" [value]="portfolio.income?.absolute || 0" class="tui-island__paragraph"></tui-money>
    </div>
  </div>
</tui-island>