<tui-axes
  *ngIf="size === chartSize.L"
  class="axes-big"
  [axisXLabels]="getDates()"
  [axisYLabels]="getYLabels()"
  [horizontalLines]="horizontalLinesCount"
  [verticalLines]="data.length"
>
  <tui-line-chart
    [filled]="true"
    [x]="0"
    [y]="getMinOfData() * 0.95"
    [height]="getMaxOfData() * 1.05 - getMinOfData() * 0.95"
    [width]="data.length"
    [dots]="true"
    [value]="getMapData()"
  ></tui-line-chart>
</tui-axes>
<tui-axes
  *ngIf="size === chartSize.S"
  class="axes-small"
  [axisYLabels]="getYLabels()"
  [horizontalLines]="horizontalLinesCount"
  [axisXLabels]="[]"
  [verticalLines]="0"
>
  <tui-line-chart
    [filled]="true"
    [x]="0"
    [y]="getMinOfData() * 0.95"
    [height]="getMaxOfData() * 1.05 - getMinOfData() * 0.95"
    [width]="data.length"
    [value]="getMapData()"
  ></tui-line-chart>
</tui-axes>
