.group {
  &-title {
    min-width: 500px;
  }
  &-currency {
    max-width: 200px;
  }
}

.form__submit {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: space-between;

  &__text {
    flex: 1;
  }
}