<form [formGroup]="form" class="tui-form form" (submit)="submitForm()">
  <div class="form_container">
    <tui-group [orientation]="verticalOrientation">
      <tui-group>
        <tui-input *ngIf="type === authFormType.EDIT_ACCOUNT || type === authFormType.REGISTRATION" formControlName="nickname">
          Имя
        </tui-input>
        <tui-input formControlName="email" *ngIf="type !== authFormType.EDIT_PASSWORD">
          Почта
        </tui-input>
      </tui-group>
      <tui-group>
        <tui-input-password inputPassword formControlName="password" *ngIf="type !== authFormType.EDIT_ACCOUNT">
          {{type === authFormType.EDIT_PASSWORD ? 'Новый пароль' : 'Пароль'}}
        </tui-input-password>
        <tui-input-password inputPassword *ngIf="type === authFormType.EDIT_PASSWORD || type === authFormType.REGISTRATION" formControlName="passwordConfirm">
          Подтвердите {{type === authFormType.EDIT_PASSWORD ? 'новый' : ''}} пароль
        </tui-input-password>
      </tui-group>
    </tui-group>
    <button type="submit" tuiButton size="m" [disabled]="form.invalid">
      <span [ngSwitch]="type">
        <span *ngSwitchCase="authFormType.LOGIN">Войти</span>
        <span *ngSwitchCase="authFormType.EDIT_PASSWORD">Изменить пароль</span>
        <span *ngSwitchCase="authFormType.EDIT_ACCOUNT">Изменить информацию</span>
        <span *ngSwitchCase="authFormType.REGISTRATION">Зарегистрироваться</span>
      </span>
    </button>
  </div>
</form>
