:host {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  width: 75%;
}

.link-to-main {
  font-size: 1.2rem;
  display: block;
  margin-top: 15px;

  &:hover {
    color: var(--tui-link-hover);
  }
}

.title{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.feauters {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: row;
}

button[appearance="custom"] {
  color: var(--tui-negative);
  transition: 0.6s;

  &:hover {
      background: var(--tui-error-bg-hover);
  }
}

.loader {
  display: block;
  height: 50px;
  width: 30px;
}