<a class="link-to-main" tuiLink href="/main">&larr; На главную</a>
<div class="title">
  <h2 [class.tui-skeleton]="!portfolioLoaded" class="tui-text_h2">{{portfolio.title}}</h2>
  <button *ngIf="portfolioLoaded" tuiButton size="s" appearance="custom" type="button" (click)="deletePortfolio()">Закрыть портфель</button>
</div>
<div class="info">
  <tui-island>
    <div class="feauters">
      <div>
        <h3 class="tui-island__category">Начальный капитал</h3>
        <tui-money [class.tui-skeleton]="!portfolioLoaded" [value]="portfolio.initBalance" [currency]="portfolio.currency"></tui-money>
      </div>
      <div>
        <h3 class="tui-island__category">Свободный капитал</h3>
        <tui-money [class.tui-skeleton]="!portfolioLoaded" [value]="portfolio.balance" [currency]="portfolio.currency"></tui-money>
      </div>
      <div>
        <h3 class="tui-island__category">Объем портфеля</h3>
        <tui-money [class.tui-skeleton]="!portfolioLoaded" [value]="portfolio.realBalance || portfolio.balance" [currency]="portfolio.currency"></tui-money>
      </div>
      <div>
        <h3 class="tui-island__category">Абсолютный доход</h3>
        <tui-money [class.tui-skeleton]="!portfolioLoaded" [colored]="true" [value]="portfolio.income?.absolute || 0" [currency]="portfolio.currency"></tui-money>
      </div>
    </div>
  </tui-island>
  <tui-island *ngIf="(portfolio.history.onMonth.length > 1 || portfolio.history.onAllTime.length > 1)">
    <h3 class="tui-island__title">Объем портфеля</h3>
    <div *ngIf="portfolio.history.onMonth.length > 1">
      <h4 class="tui-island__paragraph">За последние 30 дней</h4>
      <app-chart-drawer [data]="portfolio.history.onMonth" [size]="isMobile ? 'S' : 'L'"></app-chart-drawer>
    </div>
    <div *ngIf="portfolio.history.onAllTime.length > 1">
      <h4 class="tui-island__paragraph">За все время</h4>
      <app-chart-drawer [range]="ranges.ALL" [data]="portfolio.history.onAllTime" [size]="isMobile ? 'S' : 'L'"></app-chart-drawer>
    </div>
  </tui-island>
  <app-portfolio-quotes [portfolio]="portfolio" [quotes]="portfolio.quotes"></app-portfolio-quotes>
</div>