<form [formGroup]="form" class="tui-form form" (submit)="registration()">
  <div class="form_container">
    <tui-group [orientation]="verticalOrientation">
      <tui-group>
        <tui-input *ngIf="type !== 'auth'" formControlName="nickname">
          Никнейм
        </tui-input>
        <tui-input formControlName="email">
          Почта
        </tui-input>
      </tui-group>
      <tui-group>
        <tui-input-password formControlName="password">
          {{type === 'edit' ? 'Изменить пароль' : 'Пароль'}}
        </tui-input-password>
        <tui-input-password *ngIf="type !== 'auth'" formControlName="passwordConfirm">
          Подтвердите {{type === 'edit' ? 'новый' : ''}} пароль
        </tui-input-password>
      </tui-group>
    </tui-group>
    <button type="submit" tuiButton size="m" [disabled]="form.invalid">
      <span [ngSwitch]="type">
        <span *ngSwitchCase="'auth'">Войти</span>
        <span *ngSwitchCase="'edit'">Изменить</span>
        <span *ngSwitchCase="'registration'">Зарегистрироваться</span>
      </span>
    </button>
  </div>
</form>
