<form [formGroup]="form" class="tui-form form" (submit)="submitForm()">
  <div class="form_container">
    <ul class="tui-list" *ngIf="type === authFormType.REGISTRATION">
      <li class="tui-list__item requirement" [class.requirement_good]="validateNameLength()">Имя - не менее 3 знаков и не более 30</li>
      <li class="tui-list__item requirement" [class.requirement_good]="validateNamePattern()">Допустимые символы для имени: латиница, кириллица, цифры, пробел</li>
      <li class="tui-list__item requirement" [class.requirement_good]="validatePasswordLength()">Пароль - не менее 6 знаков и не более 30</li>
      <li class="tui-list__item requirement" [class.requirement_good]="validateEmailPattern()">Действительная почта</li>
      <li class="tui-list__item requirement" [class.requirement_good]="validatePasswordConfirm()">Пароль подтвержден</li>
    </ul>
    <tui-group [orientation]="tuiVerticalOrientation">
      <tui-group>
        <tui-input *ngIf="type === authFormType.EDIT_ACCOUNT || type === authFormType.REGISTRATION" formControlName="name">
          Имя
        </tui-input>
        <tui-input formControlName="email" *ngIf="type !== authFormType.EDIT_PASSWORD">
          Почта
        </tui-input>
      </tui-group>
      <tui-group>
        <tui-input-password inputPassword formControlName="password" *ngIf="type !== authFormType.EDIT_ACCOUNT">
          {{type === authFormType.EDIT_PASSWORD ? 'Новый пароль' : 'Пароль'}}
        </tui-input-password>
        <tui-input-password inputPassword *ngIf="type === authFormType.EDIT_PASSWORD || type === authFormType.REGISTRATION" formControlName="passwordConfirm">
          Подтвердите {{type === authFormType.EDIT_PASSWORD ? 'новый' : ''}} пароль
        </tui-input-password>
      </tui-group>
    </tui-group>
    <button type="submit" tuiButton size="m" [disabled]="form.invalid">
      <span [ngSwitch]="type">
        <span *ngSwitchCase="authFormType.LOGIN">Войти</span>
        <span *ngSwitchCase="authFormType.EDIT_PASSWORD">Изменить пароль</span>
        <span *ngSwitchCase="authFormType.EDIT_ACCOUNT">Изменить информацию</span>
        <span *ngSwitchCase="authFormType.REGISTRATION">Зарегистрироваться</span>
      </span>
    </button>
  </div>
</form>
