<form [formGroup]="form" class="tui-form form" (submit)="submitForm()">
  <div class="form_container">
    <tui-group [orientation]="verticalOrientation">
      <tui-group>
        <tui-input *ngIf="type !== authFormType.LOGIN" formControlName="nickname">
          Никнейм
        </tui-input>
        <tui-input formControlName="email">
          Почта
        </tui-input>
      </tui-group>
      <tui-group>
        <tui-input-password formControlName="password">
          {{type === authFormType.EDIT ? 'Изменить пароль' : 'Пароль'}}
        </tui-input-password>
        <tui-input-password *ngIf="type !== authFormType.LOGIN" formControlName="passwordConfirm">
          Подтвердите {{type === authFormType.EDIT ? 'новый' : ''}} пароль
        </tui-input-password>
      </tui-group>
    </tui-group>
    <button type="submit" tuiButton size="m" [disabled]="form.invalid">
      <span [ngSwitch]="type">
        <span *ngSwitchCase="authFormType.LOGIN">Войти</span>
        <span *ngSwitchCase="authFormType.EDIT">Изменить</span>
        <span *ngSwitchCase="authFormType.REGISTRATION">Зарегистрироваться</span>
      </span>
    </button>
  </div>
</form>
