<h2 class="tui-text_h3">Мой аккаунт</h2>
<tui-island>
    <div class="flex-container">
        <div class="flex-container__login">
            <tui-avatar [autoColor]="true" size="l" [text]="account.login"></tui-avatar>
            <h2 class="tui-island__title no-margin">{{account.login}}</h2>
        </div>
        <div class="flex-container__buttons">
            <button tuiButton size="s" appearance="flat" (click)="turnEditForm()">Редактировать профиль</button>
            <button tuiButton size="s" appearance="custom">Выйти из системы</button>
        </div>
    </div>
    <app-auth-form *ngIf="editFormOpened" [edit]="true" [login]="account.login"></app-auth-form>
</tui-island>
