.flex-container {
  justify-content: space-between;
  align-items: center;
  display: flex;

  &__login {
    align-items: center;
    display: flex;
    gap: 20px;
  }

  &__buttons {
    align-items: center;
    display: flex;
    gap: 10px;
  }
}

.no-margin {
  margin-bottom: 5px;
}

	
button[appearance='custom'] {
  color: var(--tui-negative);
  transition: 0.6s;

  &:hover {
      background: var(--tui-error-bg-hover);
  }
}