<h3 class="tui-text_h3">Состав портфеля</h3>
<div class="quotes-list">
  <app-quotes-buy></app-quotes-buy>
  <tui-island *ngFor="let quote of quotes">
    <div class="quotes-list__quote">
      <div>
        <div [ngSwitch]="quote.quoteType">
          <div class="tui-island__category" *ngSwitchCase="'CURRENCY'">
            Валюта
          </div>
          <div class="tui-island__category" *ngSwitchCase="'EQUITY'">Акция</div>
          <div class="tui-island__category" *ngSwitchCase="'ETF'">Фонд</div>
        </div>
        <h4 class="tui-island__title quotes-list__quote__shortname">
          {{ quote.shortname }}
        </h4>
      </div>
      <div>
        <div class="tui-island__category">Аббревиатура</div>
        <div class="tui-text_body-m">{{ quote.symbol }}</div>
      </div>
      <div>
        <div class="tui-island__category">Биржа</div>
        <div class="tui-text_body-m">{{ quote.exchange }}</div>
      </div>
      <div>
        <div class="tui-island__category">Количество</div>
        <div class="tui-text_body-m">
          {{ quote.count | tuiFormatNumber }} шт.
        </div>
      </div>
      <div>
        <div class="tui-island__category">Стоимость</div>
        <tui-money
          [currency]="quote.currency"
          [value]="quote.price || 0"
          class="tui-text_body-m"
        ></tui-money>
      </div>
      <div>
        <app-chart-drawer
          [size]="'small'"
          [data]="quote.history?.onMonth || [0, 0, 0]"
        ></app-chart-drawer>
      </div>
    </div>
    <app-quotes-sell [quote]="quote"></app-quotes-sell>
  </tui-island>
</div>
