<tui-island>
  <form class="tui-form" *tuiLet="items$ | async as items" [formGroup]="form">
    <h3 class="tui-island__title">Купить ценные бумаги</h3>
    <tui-group class="tui-form__row">
      <tui-combo-box
        formControlName="search"
        [valueContent]="quoteSymbol"
        (searchChange)="onSearchChange($event)"
        [stringify]="stringifyQuote()"
      >
        Название акции, валюты, фонда или ее сокращение (Tesla или TSLA)
        <tui-data-list-wrapper
          *tuiDataList
          [items]="items"
          [itemContent]="quoteContent"
        >
        </tui-data-list-wrapper>
      </tui-combo-box>
      <tui-input-number class="form__quote-count" formControlName="count">
        Количество
      </tui-input-number>
    </tui-group>
    <div class="tui-form__row form__row-submit">
      <div>
        <div class="form__row-submit__info" *ngIf="form.valid">
          <div>
            <h4 class="tui-island__category">Название акции</h4>
            <div>{{form.get('search')?.value.shortname}}</div>
          </div>
          <div>
            <h4 class="tui-island__category">Общая стоимость покупки</h4>
            <div>{{form.get('count')?.value}}</div>
          </div>
        </div>
      </div>
      <button tuiButton [disabled]="form.invalid" type="submit">Купить</button>
    </div>
  </form>
</tui-island>

<ng-template #quoteContent let-data>
  <div class="quote-content">
    <div>
      <div title="tui-text__h3">{{ data.shortname }}</div>
      <div title="tui-text__body-">{{ data.symbol }}</div>
    </div>
  </div>
</ng-template>

<ng-template #quoteSymbol let-data>
  {{ data.shortname }} ({{data.symbol}})
</ng-template>
